{% extends 'base.html' %}
{% block content %}
    <h2>List of Departments</h2>
    {% if user.is_authenticated %}
        <h4><a href='/adddepartment' class="btn btn-secondary">Add department</a>   <a href="/" class="btn btn-secondary">-> home</a> </h4>
    {% endif %}
    {% for i in departments_list %}
        <table class="table">
            <tbody>
            <tr>
                <th>Title of department</th>
                <td>{{ i.title }}</td>
            </tr>
            {% if user.id == 1 or user.id == i.chief %}
                <tr>
                    <th>Edit/Delete</th>
                    <td><a href='{{ url_for('editdepartment', department_id=i.id) }}' class="btn btn-warning">Edit</a>
                        <a href='{{ url_for('department', department_id=i.id) }}'
                           class="btn btn-danger">Delete</a></td>
                </tr>
            {% endif %}
            <tr>
                <th>Chief</th>
                <td>{% if i.user %}{{ i.user.name }}{% endif %}</td>
            </tr>
            <tr>
                <th>Members</th>
                <td>{{ i.members }}</td>
            </tr>
            <tr>
                <th>Department email</th>
                <td>{{ i.email }}</td>
            </tr>
            </tbody>
        </table>
        <h2>----------------------------------------------------------------------------------------------------</h2>
    {% endfor %}
{% endblock %}