{% extends "base.html" %}

{% block content %}
    <h1>Edit Department</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.title.label }}<br>
            {{ form.title(class="form-control", type="title") }}<br>
        </p>
        <p>
            {{ form.chief.label }}<br>
            {{ form.chief(class="form-control", type="chief") }}<br>
        </p>
        <p>
            {{ form.members.label }}<br>
            {{ form.members(class="form-control", type="members") }}<br>
        </p>
        <p>
            {{ form.email.label }}<br>
            {{ form.email(class="form-control", type="email") }}<br>
        </p>
        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
        <div>{{ message }}</div>
    </form>
{% endblock %}
