{% extends 'base.html' %}
{% block content %}
    <h2>Works log</h2>
    {% if user.is_authenticated %}
        <h4><a href='/addjob' class="btn btn-secondary">Add job</a>   <a href="/departments" class="btn btn-secondary">-> departments</a></h4>
    {% endif %}
    {% for i in jobs %}
        <table class="table">
            <tbody>
            <tr>
                <th>Title of activity</th>
                <td>{{ i.job }}</td>
            </tr>
            {% if user.id == 1 or user.id == i.team_leader %}
                <tr>
                    <th>Edit/Delete</th>
                    <td><a href='{{ url_for('editjob', job_id=i.id) }}' class="btn btn-warning">Edit</a>   <a
                            href='{{ url_for('deletejob', job_id=i.id) }}' class="btn btn-danger">Delete</a></td>
                </tr>
            {% endif %}
            <tr>
                <th>Hazard category</th>
                <td>{% if i.job_category %}{{ i.job_category.title }}{% endif %}</td>
            </tr>
            <tr>
                <th>Team leader</th>
                <td>{% if i.user %}{{ i.user.name }}{% endif %}</td>
            </tr>
            <tr>
                <th>Duration</th>
                <td>{{ i.work_size }} hours</td>
            </tr>
            <tr>
                <th>List of collaborators</th>
                <td>{{ i.collaborators }}</td>
            </tr>
            <tr>
                <th>Is finished</th>
                <td>{% if i.is_finished %}It is finished{% else %}It isn't finished{% endif %}</td>
            </tr>
            </tbody>
        </table>
        <h2>----------------------------------------------------------------------------------------------------</h2>
    {% endfor %}
{% endblock %}